
{% extends "inner-layout.html" %} 
{% set title = 'اسئلة شائعة' %} 

{% block content %}
 
  <div class="page-layout">
    <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-0 small bg-transparent">
              <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li> 
              <li class="breadcrumb-item active" aria-current="page"> {{title}}</li>
          </ol>
      </nav>
      <h1 class="page-title mb-4"> {{title}} </h1> 
        <div class="mk-faq"> 
          <div class="cr-cont-blk fq-block py-3 border-bottom">
              <input type="checkbox" checked="">
              <div class="h4 panel-head"> هل هناك ضمانات مالية للموثقين لديكم؟ </div>
              <div class="panel-body">
                  <p>    عليك أن ترفع بلاغك للجهات المعنية وهم سيتواصلون معنا لكشف الحساب الموثق لدينا ليقوموا بإتخاذ الإجراء اللازم.                </p>
              </div>
          </div>

          <div class="cr-cont-blk fq-block py-3 border-bottom">
              <input type="checkbox">
              <div class="h4 panel-head"> هل يتم مراقبة الحسابات الموثقة بشكل مستمر؟ </div>
              <div class="panel-body">
                  <p>    عليك أن ترفع بلاغك للجهات المعنية وهم سيتواصلون معنا لكشف الحساب الموثق لدينا ليقوموا بإتخاذ الإجراء اللازم.                </p>
              </div>
          </div> 
           
          <div class="cr-cont-blk fq-block py-3 border-bottom">
              <input type="checkbox">
              <div class="h4 panel-head">    أنا عميل لأحد الحسابات الموثقة لديكم وتعرضت لأحتيال كيف يمكنكم مساعدتي؟    </div>
              <div class="panel-body">
                  <p> عليك أن ترفع بلاغك للجهات المعنية وهم سيتواصلون معنا لكشف الحساب الموثق لدينا ليقوموا بإتخاذ الإجراء اللازم. </p>
              </div>
          </div> 
          <div class="cr-cont-blk fq-block py-3 border-bottom">
              <input type="checkbox">
              <div class="h4 panel-head"> هل يمكنني التحقق من صلاحية شهادة التوثيق؟

            </div>
              <div class="panel-body">
                  <p>  عليك أن ترفع بلاغك للجهات المعنية وهم سيتواصلون معنا لكشف الحساب الموثق لدينا ليقوموا بإتخاذ الإجراء اللازم. </p>
              </div>
          </div> 
 
          <div class="cr-cont-blk fq-block py-3 border-bottom">
              <input type="checkbox">
              <div class="h4 panel-head">   ماهي الحسابات التي يتم توثيقها؟

            </div>
              <div class="panel-body">
                  <p>  عليك أن ترفع بلاغك للجهات المعنية وهم سيتواصلون معنا لكشف الحساب الموثق لدينا ليقوموا بإتخاذ الإجراء اللازم. </p>
              </div>
          </div> 
          <div class="cr-cont-blk fq-block py-3 border-bottom">
              <input type="checkbox">
              <div class="h4 panel-head"> مالفرق بين موصول ومعروف؟ </div>
              <div class="panel-body">
                  <p>  عليك أن ترفع بلاغك للجهات المعنية وهم سيتواصلون معنا لكشف الحساب الموثق لدينا ليقوموا بإتخاذ الإجراء اللازم. </p>
              </div>
          </div> 

        </div>
  
    </div> 
  </div> 

{% endblock %} 
 

{% block scripts %}
 
{% endblock %}
