{% extends "inner-layout.html" %} 
{% set title = 'Home page' %} 

{% block content %}
 
  <div class="page-layout">
    <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-0 small bg-transparent">
              <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li> 
              <li class="breadcrumb-item active" aria-current="page"> {{title}}</li>
          </ol>
      </nav>
      <h1 class="page-title mb-4"> {{title}} </h1> 
          <p>content here   </p>
    </div> 
  </div> 

{% endblock %} 
 

{% block scripts %}
 
{% endblock %}
